  
    .container {
        padding-left: 17%;
        padding-right: 17%;
        display: flex;
        flex-direction: row;   /*column;    /*row; */
        align-items: flex-start;      /* center Alinha no centro /*flex-start; Alinhar as colunas no topo */
        margin-top: 10%;
        justify-content: center;
        height: 100%;
        text-align: center;
        max-width: 100%; /* Define a largura máxima para ocupar a largura total da tela */ /* Outros estilos... */
        /*margin-bottom: 30%;*/
        padding-bottom: 20%;
        }
    .coluna {
        width: calc(100% - 25px); /* Adiciona margem para manter o conteúdo dentro da tela */  /*50%; Cada coluna ocupará metade da largura da tela */
        padding: 7px;
        text-align: center;
        margin: 0 auto; /* Centraliza na horizontal */
        /*width: 270px; /* Definir a largura */
    }
    .titulo, .titulo1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 7px; /* Remova a margem inferior */
    }
       
    .texto {
        font-size: 16px;
        margin-bottom: 10px;
    }
       .campo-translucido {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        padding: 30px;
        margin-top: 30px;
        width: 270px; /* Definir a largura */
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Centraliza na vertical */
        margin: 0 auto; /* Centraliza na horizontal */
    }
    img {
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto 5px; /* Adiciona margem na parte inferior da imagem */
    }
    .img1 {
        max-width: 250px;/*tamanho original 130px*/
        height: 250px;/*tamanho original 130px*/
        display: block;
        margin: 0 auto; /* Remova a margem superior */ /*margin:0 50px;/* Adiciona margem na parte inferior da imagem */
        margin-bottom: 7%;
    }
    button {
        background-color: #3498db;
        color: white;
        border: none;
        padding: 15px 10px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
        width: 100%; /* Definir a largura */

    }
    .informacao {
        display: flex;
        justify-content: space-between;
        width: 330px; /* Definir a largura */
        margin: 0 auto; /* Centraliza na horizontal */ 

        
    }
    .informacao1 {
        display: flex;
        justify-content: space-between;
        width: 330px; /* Definir a largura */
        margin: 0 auto; /* Centraliza na horizontal */ 
        margin-top: 3%;
    }
      .texto1 {
        margin-right: 10px; /* Adiciona margem à direita */
        font-weight: bold;
        line-height: 1.5; /* Adiciona espaço entre as linhas */
        text-align: left; /*  left;/* Alinha o texto à esquerda */ /*center;/* Alinha o texto no centro */
    }
    
    .texto2 {
        flex: 1; /* Permite que o texto ocupe o espaço restante */
        text-align: right; /* Alinha o texto à direita */
    }
    .texto1, .texto2 {
        width: 100%; /* Largura total */
        flex: 1; /* Permite que os textos ocupem o espaço restante */
        font-size: 0.9rem;
                        /*text-align: center; /* Alinha os textos no centro */
    }
    @media screen and (orientation: landscape) {
    /* Estilos específicos para orientação paisagem */
}

@media screen and (orientation: portrait) {
    /* Estilos específicos para orientação retrato */
}

    /* Estilos responsivos */
    @media screen and (max-width: 768px) {
        /* Estilos para telas menores que 768px de largura */
    /* Por exemplo, você pode ajustar as larguras das colunas, tamanhos de fonte e margens */
        .container {
            flex-direction: column; /* Altera para uma coluna quando a largura da tela é menor */
            align-items: center;
            padding-left: 1.5%;
            padding-right: 4%;
        }
        .coluna {
            width: 100%; /* Ajusta a largura das colunas para ocupar toda a largura da tela */
            max-width: none; /* Remove a largura máxima */
        }
        .titulo {
            margin-top: 10px; /* Adiciona margem superior de 50px */
        }

    }
